[submodule "CommandLineParsing"]
	path = CommandLineParsing
	url = http://github.com/deaddog/CommandLineParsing.git
[submodule "DeadDog.Audio"]
	path = DeadDog.Audio
	url = https://github.com/deaddog/DeadDog.Audio.git
